@{
    ViewData["Title"] = "FizzBuzz";
    List<Number> numbers = Model;

}

@if (numbers != null && numbers.Count > 0)
{
    <div class="row pt-5">

        <div class="table-responsive">
            <table class="table table-light table-striped table-bordered table-hover table-responsive-sm table-condensed">

                @*table head*@
                <thead class="thead-dark">
                    <tr>
                        <th colspan="10">Results</th>
                    </tr>
                </thead>


                @*table body - we need to set up our rows - for this we need to loop numbers list*@
                <tbody>
                    @for (var i = 0; i < 100; i += 10) // for everytime we loop around we add 10
                                                      // for setting 10 colums in one row of our table
                    {
                        <tr>
                            <td>@numbers[i].Value</td>
                            <td>@numbers[i + 1].Value</td>
                            <td>@numbers[i + 2].Value</td>
                            <td>@numbers[i + 3].Value</td>
                            <td>@numbers[i + 4].Value</td>
                            <td>@numbers[i + 5].Value</td>
                            <td>@numbers[i + 6].Value</td>
                            <td>@numbers[i + 7].Value</td>
                            <td>@numbers[i + 8].Value</td>
                            <td>@numbers[i + 9].Value</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
}